<h3>Select a flight</h3>

<%= form_with model: @airport, method: :get do |f| %>
    <h4>From</h4>
    <%= f.collection_select :from_code, Airport.order(:code), :id, :code %>
    <h4>To</h4>
    <%= f.collection_select :to_code, Airport.order(:code), :id, :code %>
    <h4>Number of passengers</h4>
    <%= f.select :num_tickets, options_for_select(1..4), { prompt: "No passengers" } %>
    <h4>Date and time</h4>
    <%= select_tag "date", options_for_select(Flight.get_scheduled_dates) %>
    <%= f.submit %>
<% end %>

<% if @flights != nil %>
    <% @flights.each do |flight| %>
        <p><%= flight.start %></p>
    <% end %>
<% end %>