<% if Flight.find_by(id: flight_id) != nil %>
    <h2>This is your flight</h2>
    <%= Flight.find_each(id: flight_id) do |flight| %>
        <p>Current flight <%= @flight.start %>, to <%= @flight.end %>, leaving <%= @flight.scheduled.strftime('%m-%d-%Y %I:%M %p') %>, arriving <%= @flight.duration.strftime('%m-%d-%Y %I:%M %p') %></p>
    <% end %>
<% end %>
