<h2>This is your flight</h2>
<p>Current flight <%= @booking.flight.start %>, to <%= @booking.flight.end %>, leaving <%= @booking.flight.scheduled.strftime('%m-%d-%Y %I:%M %p') %>, arriving <%= @booking.flight.duration.strftime('%m-%d-%Y %I:%M %p') %>
<h3>Passengers</h3>
<% @booking.passengers.each do |passenger| %>
    <h5> Name and Email</h5>
    <p><%= passenger.name %></p>
    <p><%= passenger.email %></p>
<% end %>

<%= link_to 'Return home', root_path %>